@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  font-family: "Poppins", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../banner.png);
  max-width: 100vw;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  object-position: center;
}

.contact-hero-section {
  background: url(../contact-hero.png);
  max-width: 100vw;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  object-position: center;
}

@media (max-width: 426px) {
  .contact-hero-section {
    height: auto;
  }
}

.hero-section .details {
  background: rgba(255, 129, 0, 0.6);
}
.pill {
  background: url(../road.png);
  transition: 0.5s ease-in-out;
}

.pill-grid div {
  background-size: cover;
  background-attachment: fixed;
}

.pill:hover {
  transform: rotate(15deg);
}

.contact-main {
  background-color: #eeeded;
}
